* {
	margin: 0;
	padding: 0;
	font-family: 'Orbitron', sans-serif;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
}
main {
	flex: 1;
	min-height: 100%;
	background-color: grey;
	display: flex;
	flex-direction: column;
}

footer {
	width: 100%;
	background-color: rgb(76, 76, 76);
}

/* ================= About me ================= */

.about-me {
	background-color: rgb(0, 0, 0);
	display: flex;
	align-items: center;
	min-width: 90vw;
	padding: 0px 5vw;
	padding-top: 5vw;
}

.about-me-content {
	background-color: white;
	font-size: clamp(12px, 1vw, 50px);
	padding: 3%;
	display: flex;
	flex-direction: column;
	align-items: end;
	max-width: 55%;
}

.about-me-img {
	height: auto;
	max-width: 50vw;
	aspect-ratio: 1/1;
	display: flex;
	align-items: end;
	justify-content: center;
}

.about-me img {
	max-width: 100%;
	height: auto;
}

.about-me-img-text {
	position: absolute;
	color: white;
	font-size: 30px;
}

.socials {
	display: flex;
	gap: 10px;
	padding-top: 1rem;
}

/* ================= My Work ================= */
.my-work {
	background-color: rgb(0, 0, 0);
	color: white;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 10vw 0px;
}

.project-container {
	flex: 1;
	background-color: rgb(0, 0, 0);
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 2vw;
	padding: 0px 5vw;
}

.my-work h1 {
	padding-bottom: 5vw;
	padding-left: 5vw;
}

.project {
	background-color: rgb(252, 252, 252);
	aspect-ratio: 7/8;
}

/* ================= Footer ================= */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
}
footer .container {
	display: flex;
	width: 100%;
	justify-content: center;
}
footer img {
	width: 40%;
	height: auto;
	padding: 20px 0px;
	flex-shrink: 0;
	display: block;
	object-fit: cover;
}

.contact-me {
	max-width: 40%;
	padding: 20px;
	font-size: clamp(12px, 1.2vw, 1.2rem);
}

/* ================= Mobile View ================= */

@media (max-width: 600px) {

	/* about me */
	.about-me {
		flex-direction: column;
		padding: 0px;
		/* justify-content: center; */
	}
	.about-me-img {
		max-width: 100%;
		padding: 9vw;
		aspect-ratio: 9/12;
		/* padding: 50px; */
	}

	.about-me img {
		/* aspect-ratio: 9/12; */
		/* padding-top: 20px; */
		min-height: 100%;
		object-fit: cover;
	}

	.about-me-content {
		align-items: center;
		max-width: 85vw;
	}

	.about-me-content h1 {
		text-align: center;
	}

	/* my work */
	.my-work h1 {
		text-align: center;
		padding: 0px;
	}
	.project-container {
		grid-template-columns: repeat(1, 1fr);
		gap: 5vw;
		padding: 5vw 10vw;
	}

	/* Footer */
	footer .container {
		flex-direction: column;
		align-items: center;
	}

	footer .contact-me{
		min-width: 90vw;
	}

	footer img{
		min-width: 100vw;
		aspect-ratio: 2/3;
	}
	footer .socials{
	 justify-content: center;
	}
}
