* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
	min-height: 100%;
	background-color: grey;
	display: flex;
	flex-direction: column;
}

footer {
	width: 100%;
	background-color: rgb(76, 76, 76);
}

/* ================= About me ================= */

.about-me {
	background-color: antiquewhite;
	display: flex;
	align-items: center;
	padding: 0px clamp(10vw, 20vw, 30vw);
}

.about-me h1 {
	padding-bottom: 1rem;
}

.about-me-content {
	background-color: white;
	font-size: max(1vw, 1rem);
	padding: 3%;
	line-height: 2rem;
	display: flex;
	flex-direction: column;
	align-items: end;
	max-width: 55%;
}

.about-me-img {
	max-width: 45%;
	height: auto;
	/* aspect-ratio: 1/1; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-me img {
	max-width: 100%;
	height: auto;
	padding: 30px 0px;
}

.about-me-img-text{
	position: absolute;
	color: white;
	transform: translateY(10%);
}

.socials {
	display: flex;
	gap: 10px;
	padding-top: 1rem;
}

@media (max-width: 600px) {
	.about-me {
		padding: 0px;
		flex-direction: column;
		justify-content: center;
	}
	.about-me-img {
		max-width: 100%;
		padding: 5% 10%;
	}

	.about-me img {
		padding: 0px;
		aspect-ratio: 9/12;
		object-fit: cover;
	}

	.about-me-content {
		align-items: center;
		max-width: 85vw;
	}

	.about-me-content h1 {
		text-align: center;
	}
}

/* ================= My Work ================= */
/* .my-work {
	background-color: white;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.project-container {
	flex: 1;
	background-color: aqua;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 25%));
	gap: 50px;
	padding: 0px 100px;
}

.project {
	background-color: rgb(255, 232, 232);
	aspect-ratio: 1/1;
}
 */
