* {
	padding: 0;
	margin: 0;
}
/* layout for overall structure */
body {
	display: grid;
	grid-template-rows: 10fr 3fr;
	min-height: 100vh;
}

main {
	min-height: 150vh;
	grid-row: 1/2;
	background-color: yellow;
}

footer {
	grid-row: 2/3;
}

/* layout for inside main */
main {
	display: grid;
	grid-template-rows: 3fr 5fr;
}

.about-me {
	grid-row: 1/2;
	background-color: aliceblue;
}

.my-work {
	grid-row: 2/3;
	background-color: aqua;
}

/* layout for about-me */
.about-me {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 100px;
	margin-top: 50px;
	min-width: 800px;
}

.about-me img {
	max-width: 800px;
}

.about-me-content {
	background-color: aqua;
	max-width: 600px;
}

/* layout for my-work */
.my-work {
	display: flex;
	flex-direction: column;
}

.my-work h1 {
	/* transform: translateX(-105px); */
}

.project-container {
	background-color: black;
	display: grid;
	padding: 0px 100px;
	gap: 50px;

	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.project-container div {
	background-color: white;
	aspect-ratio: 1 / 1;
}

@media (max-width: 600px) {
	* {
		margin: 0px;
		padding: 0px;
	}

	.about-me img {
        width: 100%;
    }

	.about-me {
		flex-direction: column;
	}
}
