* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
	min-height: 100%;
	background-color: grey;
	display: flex;
	flex-direction: column;
}

footer {

	width: 100%;
	background-color: rgb(76, 76, 76);
}

/* ================= About me ================= */

.about-me {
	background-color: antiquewhite;
	display: flex;
	align-items: center;
	padding: 0px 10%;
	min-width: 900px;
}

.about-me h1 {
	padding-bottom: 1rem;
}

.about-me-content {
	background-color: white;
	font-size: clamp(0.5vw, 1rem, 2rem);
	padding: 3%;
	line-height: 2rem;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.about-me img {
	aspect-ratio: 1/1;
	max-width: min(30rem, 40%);
	height: auto;
	padding: 30px 0px;
}

.socials {
	display: flex;
	gap: 10px;
	padding-top: 1rem;
}

/* ================= My Work ================= */
.my-work {
	background-color: white;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.project-container {
	flex: 1;
	background-color: aqua;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 25%));
	gap: 50px;
	padding: 0px 100px;
}

.project {
	background-color: rgb(255, 232, 232);
	aspect-ratio: 1/1;
}



