* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
	min-height: 100%;
	background-color: grey;
	display: flex;
	flex-direction: column;
}

footer {
	width: 100%;
	background-color: rgb(76, 76, 76);
}

/* ================= About me ================= */

.about-me {
	background-color: antiquewhite;
	display: flex;
	align-items: center;
	min-width: 90vw;
	padding: 0px 5vw;
}

.about-me-content {
	background-color: white;
	font-size: clamp(12px, 1vw, 50px);
	padding: 3%;
	/* line-height: 1vw; */
	display: flex;
	flex-direction: column;
	align-items: end;
	max-width: 55%;
}

.about-me-img {
	height: auto;
	max-width: 50vw;
	aspect-ratio: 1/1;
	display: flex;
	align-items: end;
	justify-content: center;
}

.about-me img {
	max-width: 100%;
	height: auto;
}

.about-me-img-text{
	position: absolute;
	color: white;
	font-size: 30px;
}

.socials {
	display: flex;
	gap: 10px;
	padding-top: 1rem;
}

@media (max-width: 600px) {
	.about-me {
		padding: 0px;
		flex-direction: column;
		justify-content: center;
	}
	.about-me-img {
		max-width: 100%;
		padding: 5% 10%;
	}

	.about-me img {
		padding: 0px;
		aspect-ratio: 9/12;
		object-fit: cover;
	}

	.about-me-content {
		align-items: center;
		max-width: 85vw;
	}

	.about-me-content h1 {
		text-align: center;
	}
}

/* ================= My Work ================= */
.my-work {
	background-color: rgb(189, 189, 189);
	flex: 1;
	display: flex;
	flex-direction: column;
}

.project-container {
	flex: 1;
	background-color: aqua;
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 50px;
	padding: 0px 100px;

}

.my-work h1{
	padding-left: 20px;
}

.project {
	background-color: rgb(252, 252, 252);
	aspect-ratio: 7/8;
}

@media (max-width: 600px) {
	.my-work h1{
		text-align: center;
	}
	.project-container {
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
		padding: 0px 30px;

	}
}


/* ================= Footer ================= */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
}
footer div {
	display: flex;
}
footer img {
	max-width: 40vw;
	height: auto;
}

.contact-me{
	max-width: 30vw;
}